<%if card != nil %>
    <% card_owner = card.player_name %>
<% else %>
    <% card_owner = player%>
<%end%>

<span class = "Card <%= "Opponent" if card_owner != player%> <% "zone" if source == "field"%> " >
    <%if card != nil%>
        <%image_link = card.url %>
        <% alt = card.class%>
        <%= image_tag(image_link, :alt => alt) %>
    <%end %>

    <%case source %>
        <%when "hand" %>
            <%= render partial: 'hand_button', locals: {card: card, position: position} %>
        <% when "field"%>
             <%= render partial: 'field_button', locals: {card: card, position: position, player: player} %>
        <% end%>

    <% if card.kind_of? MonsterCard%>
        <span  style = "display:bottom"> 
           <%= "atk: #{card.atk}, def: #{card.def}"%>
        </span>   
    <% end%>     
       
</span>  